<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/MainPage.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logo1.png" sizes="64x64 32x32">
    <title>Cranium Cryptics</title>
</head>
<body>
    <div  class="app-container">
        <div class="left-pane">
            <div class="menu-button" onclick="toggleMenu()">
                <h1 class="main-menu">Menu</h1>
                <span class="menu-burger">&#9776;</span>
            </div>
            <div class="menu-container">
                <div class="Menu-main-list">
                    <ul class="menu-list">
                        <li  class="menu-detail-list current_page hello">
                        <a href="/Dashboard"><image src="../static/images/dashboard.png" class="menu-img">Dashboard</image></a></li>
                        <li  class="menu-detail-list" onmouseout="nav_back_highliter()" onmouseover="nav_highliter();">
                        <a href="/BrainTumourDetector"><image src="../static/images/dashboard.png" class="menu-img">Tumor Detection</image></a></li>
                        <li  class="menu-detail-list" onmouseout="nav_back_highliter()" onmouseover="nav_highliter();">
                        <a href="/BrainStrokeDetector"><image src="../static/images/dashboard.png" class="menu-img" >Stroke Detection</image></a></li>
                        <li  class="menu-detail-list" onmouseout="nav_back_highliter()" onmouseover="nav_highliter();">
                        <a href="/AlzheimerDiseaseDetector"><image src="../static/images/dashboard.png" class="menu-img">Alzheimer Detection</image></a></li>
                        <li  class="menu-detail-list" onmouseout="nav_back_highliter()" onmouseover="nav_highliter();">
                        <a href="/ReportGenerator"><image src="../static/images/dashboard.png" class="menu-img">Report Generator</image></a></li>
                    </ul>
                    <section class="logout-section">
                        <a href="/account" class="logout-account">
                            <image src="../static/images/account.png" class="menu-img logout-img" id="account-dt"></image>
                            <p>Account</p>
                        </a>

                        <a href="/login" class="logout-account-section">
                            <image src="../static/images/logout.png" class="menu-img logout-img"></image>
                            <p>Logout</p>
                        </a>
                    </section>

                </div>
            </div>
        </div>

        <div class="right-pane">
            <div class="dashboard-header">
                <section class="dashboard-heading">
                    <h2><span class="heading-span">Cranium</span> Cryptics</h2>
                    <img src="../static/images/logo1.png" height="20px" width="20px">
                </section>
                <section class="profile-header" onmouseover="ProfilePopView()" onmouseout="removeProfileView()">
                    <image src="../static/images/profile.jpeg" class="profile-image"></image>
                    <h2 class="user-name">Lakshan Cooray</h2>
                </section>
            </div>
            <div class="dashboard-panes">
                <section class="dashboard-main-section">
                    <div class="dashboard-text">
                          <h1 class="dashboard-heading1">Decoding Brain Health: MRI Image Analysis for Precise Diagnosis</h1>
                          <p class="dashboard-subheading">Streamline your diagnosis process with our rapid MRI image analysis,
                              delivering precise results at the touch of a button</p>
                          <a href="/ReportGenerator" class="btn"><button class="report-generating-button">Generate Report</button></a>
                    </div>

                    <div class="dashboard-image">
                        <img src="../static/images/background__1_-removebg-preview.png" alt="Brain Image" class="img-db">
                    </div>
                </section>

                <section class="dashboard-sub-section">
                    <div class="image-detection-cards card-1"> 
                        <image class="card-image" src="../static/images/braintumour.jpg"></image>
                        <h1 class="card-header">Tumour Detector</h1>
                        <p class="card-name">Detects brain tumors using advanced imaging analysis</p>
                        <a href="/BrainTumourDetector" class="card-link"><button onclick="redirectTumour()">Try it</button></a>
                    </div>
                    <div class="image-detection-cards card-2"> 
                        <image class="card-image" src="../static/images/ischemicstroke.jpg"></image>
                        <h1 class="card-header">Stroke Detector</h1>
                        <p class="card-name">Identifies ischemic strokes by analyzing medical images</p>
                        <a href="/BrainStrokeDetector" class="card-link"><button onclick="redirectStroke()">Try it</button></a>
                    </div>
                    <div class="image-detection-cards card-3"> 
                        <image class="card-image" src="../static/images/alzhimer-removebg-preview.png"></image>
                        <h1 class="card-header">Alzheimer Detector</h1>
                        <p class="card-name">Identifies early Alzheimer's signs through image analysis</p>
                        <a href="/AlzheimerDiseaseDetector" class="card-link"><button onclick="redirectAlzhimer()">Try it</button></a>
                    </div>
                </section>

                <section class="dashboard-copyright">
                    <p class="copy-text">Developed by Cranium Cryptics Team &copy; 2024. All rights reserved.</p>
                </section>

                <section class="profile-popup" onmouseover="ProfilePopView()" onmouseout="removeProfileView()">
                    <div>
                       <ul class="profile-viewer-list">
                            <li class="profile-viewer-list-element profile-list1">
                                <a href="/account" class="pop-link">
                                    <img src="../static/images/profile2.png" class="menu-img profile-img" alt="View Profile">View Profile
                                </a>
                            </li>
                            <li class="profile-viewer-list-element" id="line-profile"></li>
                            <li class="profile-viewer-list-element profile-list2">
                                <a href="/login" class="pop-link">
                                    <img src="../static/images/signout-removebg-preview.png" class="menu-img profile-img2" alt="Sign Out">Sign Out
                                </a>
                            </li>
                       </ul>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="../static/javaScript/MainPage.js">
        workSpaceGenerator();
    </script>


</body>
</html>
