<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/MainPage.css">
  <link rel="icon" type="image/x-icon" href="../static/images/logo1.png" sizes="64x64 32x32">
  <title>Cranium Cryptics</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/register.css">
</head>
<body class="align">
   <div class="form-space">
       <section class="signin-image">
          <img src="../static/images/logo1.png" height="70px" width="70px">
          <h1 class="register-heading">Register to <span class="heading-span">Cranium</span> Cryptics</h1>
       </section>
       <div class="login-container">

           <form class="form login" id="regForm">

               <div class="form__field">
                   <label for="reg_email" class="content-login">Email:</label>
                   <input id="reg_email" type="text" name="hospitalname" class="form__input" placeholder="Enter Email" required>
               </div>

               <div class="form__field">
                   <label for="reg_username" class="content-login">Username:</label>
                   <input id="reg_username" type="text" name="password" class="form__input" placeholder="Enter Username" required>
               </div>

               <div class="form__field">
                   <label for="reg_password" class="content-login">Password:</label>
                   <input id="reg_password" type="password" name="username" class="form__input" placeholder="Enter Password" required>
               </div>

               <div class="form__field">
                 <label for="reg_confirm" class="content-login">Confirm Password:</label>
                 <input id="reg_confirm" type="password" name="password" class="form__input" placeholder="Re Enter Password" required>
               </div>

              <div class="form__field">
                <input type="submit" value="Register">
              </div>

           </form>
    <dev class="registration-bottom">
         <p class="error-message"></p>
         <p class="text--center">Already Registered? <a href="/login" class="signin-link">Sign In Here</a></p>
    </dev>

  </div>

   </div>

   <div id="customAlert" class="issue">
    <div class="issue-content">
      <p id="alertMessage"></p>
    </div>
  </div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
<script src="../static/javaScript/register.js"></script>

</html>

