*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-space{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.signin-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-heading{
    align-items: center;
    font-size: 25px;
    margin-bottom: 2vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 30%;
  height: 100%;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
}

.error-message{
  display: flex;
  margin-bottom: 1vh
}

.login {
  width: 90%;
}

.form__field {
  margin-bottom: 15px;
  margin-top: 1vh;
  font-family: var(--fontPoppins);
}

.form__field label {
  display: block;
  margin-bottom: 2px;
}

.form__field input[type='text'],
.form__field input[type='password'],
.form__field input[type='submit'] {
  height: 90%;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
  font-family: var(--fontPoppins);
}

.content-login{
  font-family: var(--fontPoppins);
  font-size: 18px;
}

.form__field input[type='submit'] {
  background-color: #3b5160;
  height: 8vh;
  color: white;
  border: none;
  cursor: pointer;
}

.form__field input[type='submit']:hover {
  background-color: black;
}

.text--center {
  text-align: center;
}

.signin-link{
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.signin-link:hover{
  color:#1e2c34;
}

.registration-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 0.5vh;
  padding-bottom: 1vh;
  width: 90%;
}

.error-message{
  display: flex;
  margin-bottom: 1vh;
  font-size: 16px;
  color: red;
  font-family: var(--fontPoppins);
}

.issue {

  display: none; 
  position: fixed;
  text-align: center; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 

  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.issue-content {
  background-color: #414040;
  margin: 5% auto;
  color: rgb(238, 238, 238);
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  width: 30%;
  position: relative;
}
