.dashboard-main-section{
    display: flex;
    flex-direction: row;
}

.main-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.main-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.main-board{
    height: 95%;
    width: 70%;
    background-color: #3b5160;
    margin-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.60);
}

.heading-disease{
    background-color: #3b5160;
    color:var(--secondaryColor);
    font-size: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-disease{
    background-color: var(--secondaryColor);
    color:#3b5160;
    font-size: 15px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-uploading-section {
    margin-bottom: 20px;
}

.image-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.display-section{
    display: flex;
    width: 100%;
    box-shadow: none;
    padding-top: 8vh;
}

.scan-button{
    all:unset;
}

.generate-report-tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns, each taking equal space */
    gap: 0; /* No gap between the columns */
    margin-top: 20px;
    width: 30vw;
    height: 7vh;
}

.generate-report-tab button,
.generate-report-tab a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #1e2c34; /* Example color, change as needed */
    color: white; /* Text color */
    font-size: 20px;
}

.generate-report-tab button:hover,
.generate-report-tab a:hover {
    background-color: #25363f; /* Example color, change as needed */
}

.generate-report-tab .report-link {
    background-color: #3b5160; /* Example color, change as needed */
}

.generate-report-tab .report-link:hover {
    background-color: #597181; /* Example color, change as needed */
}



